<!DOCTYPE html>
<html>

<head>

        <meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" type="text/css" href="/static/content/parkstyle.css">
	<title>Text Summarizer</title>

</head>

<body>
	<body bgcolor="#E6E6FA">
	<div id="wrapper">
	<h1>Text Summarizer</h1>

        <img src="/static/content/newsFlash.png" class="logo">

	<h2>A naive text summarizer built for Captital One MindSumo</h2>
	<hr>

<!--
<a href="dpage.html" class="button">Enter !</a>
-->
<!--
<button type="button"><a href="dpage.html">Submit !</a></button>
-->

<center>
		<h4>News Article URL</h4>
		<br>
		<form action="/download/regularSearch" method= "post" enctype="multipart/form-data" id ="MYO">
		<input type="text" name="thefile" />
				<input type="submit"/>
		</form>
		<br>
</center>


	</div>

</body>
</html>
