<!-- Modified from code found on tuturialspoint.  -->

<!DOCTYPE html>
<html>
<head>
<title>Evan DeSantola MindSumo Text Summarizer</title>
</head>
<body>
<body bgcolor="#b5dcb3">
<center>
		<h1>NewsFlash Text Summarizer</h1>
		<h3>Make another search:</h3>
		<form action="/download/regularSearch" method= "post" enctype="multipart/form-data" id ="MYO">
		<input type="text" name="thefile" />
				<input type="submit"/>
		</form>
		<br>
<hr>
		<h3>Article being summarized: </h3><h3>TITLE_GOES_HERE</h3> 
SUMMARY_RESULTS_GO_HERE
</center>

		<br>

<table width="100%" border="1">
  <tr valign="top">
    <td bgcolor="#aaa" width="33%" border= "1">
      <b>About the content:</b><br /><br>
      <a href="INFO_LINK1">INF_LINK_NAME1</a><br /><br>
      <a href="INFO_LINK2">INF_LINK_NAME2</a><br /><br>
      <a href="INFO_LINK3">INF_LINK_NAME3</a><br /><br>
      <a href="INFO_LINK4">INF_LINK_NAME4</a><br /><br>
      <a href="INFO_LINK5">INF_LINK_NAME5</a>
    </td>
    <td bgcolor="#b5dcb3" height="250" width="33%" border = "1">
      <b>Related News Articles:</b><br /><br>

      <a href="1db874ca-f3d8-11e5-9ce9-5e5517507c66">NEWS_LINK1</a><br /><br>
      <a href="1db87902-f3d8-11e5-9ce9-5e5517507c66">NEWS_LINK2</a><br /><br>
      <a href="1db87aec-f3d8-11e5-9ce9-5e5517507c66">NEWS_LINK3</a><br /><br>
      <a href="1db87dbc-f3d8-11e5-9ce9-5e5517507c66">NEWS_LINK4</a><br /><br>
      <a href="1db87f42-f3d8-11e5-9ce9-5e5517507c66">NEWS_LINK5</a>

    </td>
    <td bgcolor="#aaa" width="34%" border = "1">
      <b>About the author:</b><br /><br>
       AUTHOR_INFO
    </td>
   </tr>
<table>
</body>
</html>
